 body {
    background-color: rgba(124, 39, 8, 0.85);
    min-height: 100vh;
}

/**********************
2. Heading Styles
**********************/

h1 {
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin: 5px 0px;
}
h5{
    color: white;
    font-size: 1.5em;
     
}
/**********************
3. Main Body Stylesss
**********************/

section {
    margin: 3em 0em;
    align-items: center;
}

button {
    width: 12em;
    height: 3.5em;
    border-radius: 100px;
    border: 0;
    background-color: rgb(2, 62, 72);
    background-size: 200%;
}

button:hover {
    cursor: pointer;
}

button a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin-right: 10px;
}

label {
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    margin-left: 10px;
   
     

}
  
form {
    display:inline-flexbox;
    flex-direction: column;
    margin: 20px auto;
    width: 80%;
     
}
 
input ,textarea {
    margin: 15px 15px;
    padding: 7px;
    border-radius: 5px;
    border: 0;
     
     
     
}

div{
    width: auto;  
    
}
 
div input{
    width:49.98%;
    margin-left:20px;
    height: 20px;
}
div label{
    width:16.66%;
}

input:focus, textarea:focus {
    outline: none;
    
}
textarea{
    margin-right: 250px;
    width: 49.98%;
     vertical-align: top;
    border-radius: 5px;
    padding: 7px;
}
input[type="submit"] {
    width: 30%;
    height: 3.5em;
    align-self: center;
     
    border: 0;
    background-color: rgb(114, 180, 231);
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    margin-left: 300px;
 
}
 
 

/****************************  MEDIA STYLES - above 601px  ***********************************/

@media screen and (max-width: 758px)
{ 
    body{
        background-color: rgb(240, 189, 157);
    }
    input[type="submit"]{
        width: 33.32%;
    }
    input[type="textarea"]{

    }
    
}

/****************************  MEDIA STYLES -  600px ***********************************/

@media screen and (max-width: 600px)
{  
    body {
        background-color: rgba(229, 179, 213, 0.85);
        min-width: 480px;
    }
    
    button {
        width: 90%;
        margin-bottom: 5px;
    }

    label {
        font-size: 30px;
         color: black;
        
    }

    input[type="submit"]{
        margin-top: 10px;
        width: 16.66%;
         
        
    }

    footer p {
        padding: 12px 0px;
        font-size: 1.2em;
    }
    
    div input{
        width: 100%;
        padding-top: 15px;
        padding-bottom:15px
    }
    div label{
        width: 100%;
        
    }
    textarea{
        width: 90%;
         
    }
}